.git
.github
.env
.vscode
.idea
*.exe
*.dll
*.test
*.out
*.md
vendor/
Thumbs.db
.DS_Store
.gitignore
.dockerignore
Dockerfile
sqlc.yml
Taskfile.yml
atlas.hcl
internal/adapters/migrations/schema.hcl
docker-compose.yml